.link {
    display: flex;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    color: #444444;
}

.link:hover {
    background: #3b71cd;
    color: #ffffff;
    border-radius: 3px;
}

.favicon {
    margin-right: 0.5em;
    display: inline-block;
    width: 1em;
    height: 1em;
    background: #ffffff;
    padding: 2px;
    border-radius: 3px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}